body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: url('../images/cursor_flower.png'), auto;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  background-image: url('../images/background\ oval\ black.png');
  background-size: 10%;
  background-repeat: repeat;
  background-attachment: fixed;
}

.container {
  text-align: center; /* Center the text within the container */
}

.centered-text {
  text-align: center; /* Center the text within its container */
  width: 50%;
  height: 30%;
}

h1 {
  font-size: 70px;
  height: 30%;
  font-weight: bold;
}

.cd {
  width: 200px;
  height:200px;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
      transform: rotate(360deg); /* End at 360 degrees (full rotation) */
  }
}

.plate{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  z-index: -5;
  width: 100%;
}